/* GENERAL SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;1,100;1,700&family=Poppins:wght@100;200;300;400;500&family=Raleway:wght@400;500&family=Roboto:wght@100&display=swap');


body {
  background: white;
  color: #3f3f3f;
  font: 14px /28px;
  font-family: "Raleway";
}
h1{
    font-size: 60px;
    letter-spacing: 4px;
    margin-bottom: 20px;
    font-weight: bold;
}
.sectionHeader{
    background: #500d16;
    border-bottom: 6px solid #000;
    height: 60px;
    display: inline-block;
    line-height: 60px;
    font-size: 26px;
    padding: 5px 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #fff;
}
#sectionArea{
    padding: 80px 0px;
}
h3{
    font-size: 16px;
    color: #500d16;
    transition: all .5s ease;
    
}
/* GRID SETTINGS */
.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.featuresBody .container{
    justify-content: space-between;
}

.col, .col3{
    flex-grow: 1;
    width: 33.33%;
}
.engineBody .container {
    justify-content: space-between;
}
.col2{
    flex-grow: 1;
    width: 50%;
    padding: 20px;
}
/* HOME SETTINGS */
header .logo{
    margin-right: auto;
}
header .logo img{
    display: block;
    height: 70px;
    
}
.menu li{
    float: left;
   

}
.menu li a {
    padding: 27px 17px;
    display: block;
    text-decoration: none;
    letter-spacing: 2px;
    color: #333;
    transition: all .5s ease;
    
}

.menu li:hover a{
    background: #500d16;
    color: #fff;
    
    
}

#mainSlider{
    height: 600px;
    background: url(/img/07.jpeg );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slider{
    width: 100%;
}
#mainCaption{
    height: 500px;
    background: rgba(0, 0, 0, 0.3);
}
.caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
}
.caption p{
    font-size: 30px;
}


.featuresTop{
    text-align: center;
}

.zoom{
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    vertical-align:top ;
}
.zoom img{
    display: block;
    width: 100%;
    height: auto;
    transition: all .5s ease;
}
.item .itemText{
    text-align: center;
    padding: 10px;
    border: 1px solid;
}
.item{
    padding: 10px 20px;
    
}
.item:hover img{
    transform: scale(1.1);
}
.item:hover h3{
color: #fff;
}

.item:hover .itemText{
    background: #500d16;
    color: #fff;
    transition: all .5s ease;
}
.btnDetails{
    color: #500d16;
    padding: 3px 10px;
    text-decoration: none;
    border: 1px solid #500d16;
    transition: all .5s ease;
    
}
.item:hover .btnDetails{
    color: #fff;
    border: 1px solid #fff;
}
.itemText p{
    margin: 20px 0px;
}
.parallax{
    background: linear-gradient(
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    ),
    url(/img/cars3.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.parallax p{
    color: #fff;
}
.engineTop{
    text-align: center;
}
.engineContainer{
    position: relative;
    width: 100%;
}
.imageOver{
    display: block;
    width: 100%;
    height: auto;
}
.engineOverlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 100%;
    transition: .5s ease;
    overflow: hidden;
    background-color: rgba(80,13,22,.7);
}
.engineContainer:hover .engineOverlay{
    width: 100%;
}
.engineText{
    white-space: nowrap;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.engineOverlay2{
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    width: 0;
    height: 100%;
    transition: .5s ease;
    overflow: hidden;
    background-color: rgba(80,13,22,.7);
}
.engineContainer:hover .engineOverlay2{
    width: 100%;
    left: 0%;
}
footer{
    background-color: #500d16;
    text-align: center;
}
.footerItem{
    padding: 20px;
}
.footerItem img{
    height: 50px;
}
footer h3{
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 10px;
}
footer .fab{
    font-size: 30px;
    color:#95a5a6 ;
    line-height: 50px;
    transition: .3s ease;
}
footer i:hover{
    color: #fff;
}
footer p{
    line-height: 20px;
    color: #95a5a6;
}
.footerLinks a{
    text-decoration: none;
    color: #95a5a6;
    letter-spacing: 2px;
    transition: .3s ease;
   
  
}
.footerLinks a:hover{
    color: #fff;
    text-decoration: underline;
}
.socialLinks li{
    display: inline-block;
    width: 50px;
    height: 50px;
 
}
/* CARS SETTINGS */
#carsSlider{
    height: 300px;
    background: url(/img/cars10.jpeg );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#carsCaption{
    height: 200px;
    background: rgba(150, 146, 146, 0.3);
}
.inpect{
    background-color: #f5f5f5;
   
}
.inspectTop{
    text-align: center;
}
.inspectBody .col2{
    display: flex;
}
.inspectImage{
    width: 40%;
}
.inspectImage img{
    width: 100%;
    height: auto;
}
.inspectText{
    width: 60%;
    padding: 10px;
}
.date{
    color: #333;
    font-size: 14px;
    font-style: italic;
}
h4{
    color: #500d16;
    font-size: 16px;
    font-weight: bold;
}
.inspectText a{
    float: right;
    text-decoration: none;
    color: #500d16;
}
.inspectText a:hover{
    text-decoration: underline;
}
.projectXTop{
    text-align: center;
}
.projectX .containerFluid{
    height: 500px;
    background: url(/img/cars9.jpeg);
    background-size: cover;
    background-position: center;
}
.captionPX{
    display: flex;
    background: rgba(0, 0,0, .8);
    width: 100%;
    height: 500px;
}
.projectXInfo{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-left: 5%;
    padding-left: 5%;
}
.projectXTitle{
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom:20px ;
}
.projectXBTN{
    cursor: pointer;
    background-color: #500d16;
    color: #fff;
    padding: 20px 40px;
    border: none;
    margin-top: 20px;
    transition:all .5s ease ;
    font-size: 20px;
}
.projectXBTN:hover{
    background-color: #fff;
    color: #500d16;
}
.projectXText{
    color: #fff;
}
.projectXHighlight{
    display: inline-block;
    background-color: #500d16;
    padding: 30px;
}
.containerFluid{
    padding: 0px;
}
.projectXDetail li{
    color: #fff;
    padding-bottom: 10px;
}
/* ABOUT SETTINGS */
#aboutSlider{
    height: 300px;
    background: url(/img/ceo4.jpeg );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#aboutCaption{
    height: 200px;
    background: rgba(0, 0, 0, 0.3);
}
.ourHistory{
    background-color: #fff;
}
.ourHistoryTop{
    text-align: center;
}
.ourHistoryBody .containerFluid{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.ourHistoryBody .col2{
    display: flex;
}
.ourHistoryDate{
    flex: 1;
    text-align: center;
    background-color: #500d16;
    color: #fff;
}
.ourHistoryDate p{
    font-size: 30px;
    letter-spacing: 2px;
    position: relative;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.ourHistoryImage{
    flex: 2;
}
.ourHistoryImage img{
    width: 100%;
    height: 100%;
}
.ourHistoryText{
    flex: 3;
    margin-left: 10px;
   
}
.ourHistoryText p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.teamTop{
    text-align: center;
}

.teamBody .containerFluid{
    display: flex;
    width: 100%;
}
.teamMember{
    position: relative;
   width: 100%;
}
.teamMemberImg{
    display: block;
    width: 100%;
    height: 100%;
    
}
.teamMemberOverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: #500d16;
    transition: .5s ease;
}
.teamMemberOverlay:hover{
    opacity: 0;
}
.teamMember:hover .teamMemberInfo{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.teamTitle{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.teamMemberInfo{
    color: #fff;
    background-color:rgba(80, 13, 22, .7) ;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s ease;
    padding: 20px;
    text-align: center;
}
.memberSocialLinks {
    text-align: center;
}
.memberSocialLinks li{
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
.memberSocialLinks .fab{
    color: #fff;
}


/* CONTACT SETTINGS */
#contactSlider{
    height: 300px;
    background: url(/img/cars7.jpeg );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#contactCaption{
    height: 200px;
    background: rgba(0, 0, 0, 0.3);
}
.gallery{
    background-color: #f5f5f5;
}
.galleryTop{
    text-align: center;
}
.gallerySlider{
overflow: hidden;
width: 100%;
margin: 0 auto;
}
.gallerySliderItem{
    width: 300%;
    left: 0;
    position: relative;
    animation: slideAnimation 30s infinite ;
}
.gallerySliderItem img{
    width: 33.33%;
    float: left;
    height: auto;
}
@keyframes slideAnimation {
    0% {left:0;}
    25% {left:-100%;}
    50% {left:-200%;}
    75% {left:-100%;}
    100% {left:0;}
}
.contactTop{
    text-align: center;
}
.wrapper{
    margin: 0 auto;
    width: 100%;
}
.contactForm{
    margin: 0 auto;
    width: 60%;
}
.formItem{
    margin-bottom: 10px;
    width: 100%;
}
.formShape{
    color: #fff;
    float: left;
    background: #500d16;
    padding: 8px;
    width: 8%;
    text-align: center;
}
.formField{
    color: #fff;
    background-color: #500d16;
    border: none;
    padding: 15.5px;
    width: 92%;
    display: block;
    font-size: 14px;
}
.formBtn{
    display: block;
    border: none;
    background-color: #500d16;
    color: #fff;
    padding: 12px 25px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}
.formBtn:hover{
    background: #841916;
}
/* MEDIA QUERIES */
@media screen and (max-width:960px) {
    .caption h1{
        font-size:32px;
        letter-spacing: 2px;
        
    }
    .caption p {
        font-size: 18px;
    }
    footer .fab{
        font-size: 24px;
        
    }
    footer h3{
        font-size: 16px;
    }
    .inspectBody .container {
        flex-direction: column;
    }
    .inspectBody .container .col2{
        width: 100%;
    }
    .ourHistoryBody .col2{
        flex-direction: column;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (max-width:720px){
    
    .caption h1{
        font-size:32px;
        letter-spacing: 2px;
        
    }
    .featuresBody .container{
        flex-direction: column;
    }
    .featuresBody .col3{
        width: 100%;
    }
    .engineBody .container{
        flex-direction: column;
    }
    .engineBody .container .col2{
        width: 80%;
        padding-left: 0;
        padding-right: 0%;
        margin: 0 auto;
    }
    footer .container {
        flex-direction: column;
        
    }
    footer .container .col3{
        width: 100%;
    }
    .sectionHeader{
        font-size: 24px;
    }
    .inspectBody .container .col2{
        padding-left: 0;
        padding-right: 0;
    }
    .teamMemberInfo{
        font-size: 14px;
        padding: 10px;
    }
    .teamTitle{
        font-size: 14px;
    }

}
@media screen and (max-width:540px){
header .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .logo{
    margin: 0 auto;
}
.caption h1{
    font-size:20px;
    letter-spacing: 0px;
    
}
.featuresBody .container .col3{
    width: 100%;
    margin: 0 auto;
}
.engineBody .container .col2{
    width: 100%;
    
}
.sectionHeader{
    font-size: 20px;
}
.contactForm{
    width: 80%;
}
}
